<html>
  <head>
      <title>Gerenciador de clientes</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" >
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="#">G C</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/adicionar-cliente">Adicionar cliente</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/listar-clientes">Clientes</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/adicionar-endereco">Adicionar endereço</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/listar-tudo">Listar tudo</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">