<!--
including header content which is common for all pages
-->
<%- include layouts/header.ejs %>    
 

 <div class="jumbotron mt-3">
    <h1 class="text-center"><%= mensagem %></h1>
  </div>
<!--
including footer content which is common for all pages
-->
<%- include layouts/footer.ejs %>